<ion-header>
  <ion-toolbar>
    <ion-title>App Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">

  <ion-slides>

      <ion-slide> <!--  First Slide -->
        <img class="minimiseSize" src="https://icon-library.net/ images/login-icon/login-icon-2.jpg"/>
        <h2>Account Information</h2>

        
        
      </ion-slide>

      <ion-slide> <!-- Second Slide -->
        <h2>Personalisation</h2>
        <ion-item-divider></ion-item-divider>

        <ion-item>
          <ion-label>Dark Mode</ion-label>
          <ion-toggle slot="start" name="moon" color="dark" checked></ion-toggle>
        </ion-item>
      </ion-slide> <!-- End of Second Slide -->
      

      <ion-slide> <!-- Third Slide -->
          <img src="https://pbs.twimg.com/profile_images/736161253425549314/_HQPWFwI_400x400.jpg"/>
          <h2>About Us</h2>
          <ion-item-divider></ion-item-divider>

          <p>The <b>Suisse Cheese</b> application is a HackZurich application that tackles the latest demands of the bank, ensuring that clients are getting their needs met in new and innovative ways.</p>

          <p> We, the creators of Suisse Cheese, are developers at HackZurich 2019! Check our <a href="https://github.com/MehdiNV/hackzurich19-suisse-cheese"> GitHub repository </a> while you're here as well! </p>
       
      </ion-slide> <!-- End of Third Slide -->



   </ion-slides>

	

</ion-content>
